[Unit]
Description=LXC AutoScale Daemon made by Fabrizio Salmi but modified by me
Documentation=https://github.com/MatrixMagician/proxmox-lxc-autoscale
After=network.target

[Service]
ExecStart=/usr/bin/python3 /usr/local/bin/lxc_autoscale/main_async.py
Restart=no
User=root

# Ensure that the service is killed if it runs away
KillMode=process
KillSignal=SIGTERM
SendSIGKILL=yes

[Install]
WantedBy=multi-user.target
